
$background-gradient: linear-gradient(90deg, rgb(20, 15, 131) 0%, rgb(41, 41, 197) 50%, rgb(20, 15, 131) 100%);
#open-menu{
   display: none;
}
.header{
   position: fixed;
   top: 0 !important;
   width: 100%;
   height: 50px;
   color: white;
   padding: 0 10px;
   z-index: 10;
   justify-content: space-around;
   border-bottom: 1px solid  rgb(28, 89, 169);
   background: $background-gradient;
   
   .logo{
      font-weight: 600;
      font-size: 20px;
   }
}

.nav-bar, .redes-sociais{
   ul{
      list-style-type: none;
      li:not(:last-child){
         margin-right: 20px;
      }
      .nav-link, .rs-link{
         color: white;
         text-decoration: none;
         transition: 0.4s;

         &:hover{
            color: rgb(125, 125, 125);
         }
      }

   }
   .rs-link{
      img{
         max-width: 30px;
      }
   }
}
.menu-icon{
   display: none;
}

/*/****************MediaQueries**********************/


@media (max-width: 670px) {
   .header{
      height: 100vh;
      flex-direction: column;
      width: 400px;
      margin-left: -400px;
      transition: 0.4s;
      .logo{
         font-weight: 800;
         font-size: 30px;
      }

      .nav-bar{
         ul{
            flex-direction: column;
            li{
               width: 390px;
               border-bottom: 1px solid gray;
               margin-right: 0 !important;
               a{
                  display: block;
                  padding: 10px;
                  font-size: 20px;
                  text-align: center;
               }
            }
            li:first-child{
               border-top: 1px solid gray;
            }
         }
      }
      .rs-link{
         img{
            max-width: 50px !important;
         }
      }
      .menu-icon{
         position: absolute;
         flex-direction: column;
         display: flex !important;
         overflow: hidden;
         gap: 8px;
         width: 40px;
         height: 40px;
         top: 15px;
         right: -50px;
         z-index: 11;
         cursor: pointer;

         .line-menu{
            justify-content: center;
            width: 40px;
            height: 4px;
            border-radius: 5px;
            background-color: rgb(34, 0, 185) !important;
            transition: 0.3s;
         }
      }

      #open-menu:checked ~ .menu-icon > span:nth-child(1){
         
         transform: rotate(45deg) translateX(6.5px) translateY(13.5px);
      }
      #open-menu:checked ~ .menu-icon > span:nth-child(2){
         
         margin-left: - 100px;
      }
      #open-menu:checked ~ .menu-icon > span:nth-child(3){
         transform: rotate(-45deg) translateX(4px) translateY(-10px);
      }

      #open-menu:checked ~ .header{
         margin-left: 0;
      }
   }

   .open-menu{
      margin-left: 0;
   }
}

