
$cor-padrao: rgb(28, 89, 169);
$btn-coment: rgb(161, 73, 0);
$background-gradient: linear-gradient(90deg, rgba(47,130,205,1) 0%, rgba(34,34,140,1) 70%, rgba(43,38,133,1) 100%);
.material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 600,
   'GRAD' 1,
   'opsz' 48
 }
 
#posts{
   
}
//Todos os comentários
.coments-box {
   width: 100%;
   padding: 10px;
   flex-direction: column;

   //caixa de comentário principal 
   .new-coment-box{
      width: 100%;
      .btn-new-coment-open{
         height: 30px;
         width: 100px;
         color: white;
         background: $cor-padrao;
         border: none;
         cursor: pointer;
         margin-bottom: 5px;
         transition: 0.4s;

            &:hover{
               background-color: darken($cor-padrao, 9)
            }
      }
      .principal-new-coment-form{
         width: 100%;
         min-height: 90px;
         border: 1px solid $cor-padrao;
         padding: 5px;

         #new-coment{
            border: none;
            width: 100%;
            min-height: 70px;
            resize: none;
            outline: none;
   
            &:focus-within{
               border: none !important; 
            }
         }
         .new-coment-buttons{  
            margin-top: 5px; 
            justify-content: end;
            
            .btn-new-coment-cancel{
               margin-right: 10px;
               border: none;
               background-color: white;
               color: rgb(99, 1, 1);
               text-decoration: underline;
               cursor: pointer;
            }
   
            .btn-new-coment-submit{
               height: 30px;
               width: 70px;
               color: white;
               background: $cor-padrao;
               border: none;
               cursor: pointer;
               transition: 0.4s;
   
               &:hover{
                  background-color: darken($cor-padrao, 9)
               }
            }
         }
      }
   }

 

   .coment-header{
      height: 50px;
      font-size: 13px;
      img{
         max-width: 35px;
         margin-right: 5px;
      }

      div{
         flex-direction: column;
         align-items: start;
         .coment-autor{
            font-weight: 600;
         }
         time{
            color: gray;
         }
      }
   }

   .coment-body{
      margin-left: 40px;
      font-size: 15px;
      margin-bottom: 5px;
   }

   .coment-footer{
      font-size: 12px;
      margin: 5px 0  0 40px;
      margin-bottom: 20px;

      .flex{   
         margin-right: 15px;
      }
      .like-icon, .reply-icon{
         cursor: pointer;
         transition: 0.4s;
         &:hover{
            color: $cor-padrao;
         }
      }

      .material-symbols-outlined {
         font-size: 18px;
      }
   }
}

.coment{
   width: 100%;
   margin-top: 10px;
   border-bottom: 1px dotted rgb(197, 196, 196);
   .new-answer-form{
      width: 90%;
      min-height: 90px;
      border: 1px solid $cor-padrao;
      padding: 5px;
      margin: 0 0 5px 40px;

      .new-answer{
         border: none;
         width: 100%;
         min-height: 70px;
         resize: none;
         outline: none;

         &:focus-within{
            border: none !important; 
         }
      }

      .new-answer-buttons{  
         margin-top: 5px; 
         justify-content: end;
         
         .btn-new-coment-cancel{
            margin-right: 10px;
            border: none;
            background-color: white;
            color: rgb(99, 1, 1);
            text-decoration: underline;
            cursor: pointer;
         }

         .btn-new-coment-submit{
            height: 30px;
            width: 70px;
            color: white;
            background: $cor-padrao;
            border: none;
            cursor: pointer;
            transition: 0.4s;

            &:hover{
               background-color: darken($cor-padrao, 9)
            }
         }
      } 

   }
}

.coment-answers{
   margin-left: 40px;
   padding-left: 10px;
   border-left: 1px solid rgb(165, 165, 165);

   .coment-header{
      margin-bottom: 10px;

      .replying-to-name{
         color: gray;
      }
   }
   .coment-footer{
      width: calc(100% - 40px);
      flex-direction: column;

      .buttons-answers{
         margin-bottom: 5px;
         width: 98%;
      }

      .reply-box{
         width: 100%
      }
   }

   


}

.liked{
   font-variation-settings:
   'FILL' 1; 
}