

#posts{
   
}
.coments-box {
   width: 100%;
   padding: 10px;
   flex-direction: column;

   .new-coment{
      width: 100%;
      height: 100px;
      border: 1px solid $cor-padrao;
   }


   .coment-header{
      height: 50px;
      font-size: 13px;
      img{
         max-width: 35px;
         margin-right: 5px;
      }

      div{
         flex-direction: column;
         align-items: start;
         .coment-autor{
            font-weight: 600;
         }
         time{
            color: gray;
         }
      }
   }

   .coment-body{
      margin-left: 40px;
      font-size: 15px;
      margin-bottom: 5px;
   }

   .coment-footer{
      font-size: 12px;
      margin: 5px 0  0 40px;
      margin-bottom: 20px;

      .flex{
         margin-right: 15px;
      }
      .like-icon, .reply-icon{
         cursor: pointer;
         transition: 0.4s;
         &:hover{
            color: $cor-padrao;
         }
      }

      .material-symbols-outlined {
         font-size: 18px;
      }
   }
}

.coment-answers{
   margin-left: 40px;
   padding-left: 10px;
   border-left: 1px solid rgb(165, 165, 165);

   .coment-header{
      margin-bottom: 10px;

      .replying-to-name{
         color: gray;
      }
   }

}