$cor-padrao: rgb(28, 89, 169);

body{
   background-color: rgba(231, 231, 231, 0.479);
}

#posts{
   width: 90% !important;
}

.post-view {
   background-color: white;   
   margin: 50px auto 0;
   flex-direction: column !important;
   width: 85% !important;
   padding: 0 20px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.066);

   .blog-post{
      width: 100% !important;
      box-shadow: none !important;
      border-radius: 10px !important;
      
      h1{
         font-size: 30px;
         color: black;
         font-weight: 800;
      }
      h2{
         font-size: 20px;
         margin: 20px 0 5px 0;
         color: $cor-padrao;
      }
      p{
         color: black;
         line-height: 25px;
      }
      .post-content {
         padding: 0 10px;
         text-indent: 20px; 
         text-align: justify;
         h2{
            margin-left: -20px !important;
            font-weight: 800;
         }
          ul{
            list-style-position: inside;
            li{
               margin-top: 5px;
               strong{
                  color: black
               };
            }
          }
         
      }

      .post-header{
         color: rgb(68, 68, 68);
         padding-left: 0 !important;
         margin: 10px 0 10px 0;
         p{
            font-size: 13px;
            .post-autor{
               color: $cor-padrao ;
            } 
         }
      }
      .post-body{
         border-bottom: 1px solid gray;
      }
      .post-image{   
         height: 370px !important;
         margin-bottom: 10px;
      }
      .post-content{
         padding: 10px !important;
         color: rgb(104, 104, 104);
      }
   }
} 

.posts-relacionados{
   flex-direction: row !important;
   justify-content: center;
   .blog-post{
      flex-direction: column !important;
      min-width: 250px !important;
      max-width: 250px;
      min-height: 350px;
      
      .post-header{
         padding: 0 !important;
      }
      h2{   
         text-align: center;
         font-size: 20px;
      }

      .post-image{
         background-color: black;
         min-width: 100% !important;
         max-height: 150px !important;
         min-height: 150px;
         img{
            width: 100% !important;
         }
      }

      .post-footer{
         flex-direction: row !important;
         justify-content: space-between !important;
         max-width: 100% !important;
      }
   }
}


/*************Media Queries************/
@media (max-width: 1200px) {
   .post-view{
      width: 100% !important;
   }
}
@media (max-width: 865px) { 
   .posts-relacionados{
      justify-content: start;
      .blog-post{
         flex: 1 !important;
         max-width: 800px;
      }
   }
}

@media (max-width: 670px) {
   #posts{
      min-width: 450px;
     .outros-posts{
      .post-image{
         display: block !important;
      }
     }
   }
}

