$cor-padrao: rgb(28, 89, 169);

body{
   background-color: rgba(231, 231, 231, 0.479);
}

.post-view {
   background-color: white;   
   margin-top: 50px;
   flex-direction: column !important;
   width: 75% !important;
   padding: 0 20px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.066);
   
   .blog-post{
      width: 100% !important;
      box-shadow: none !important;
      border-radius: 10px !important;

      h1{
         font-size: 30px;
         color: black;
         font-weight: 800;
      }
      h2{
         font-size: 20px;
         margin: 20px 0 5px 0;
         color: $cor-padrao;
      }
      p{
         color: black;
         line-height: 25px;
      }
      .post-content {
         padding: 0 10px;
         text-indent: 20px; 
         text-align: justify;
         h2{
            margin-left: -20px !important;
            font-weight: 800;
         }
          ul{
            list-style-position: inside;
            li{
               margin-top: 5px;
               strong{
                  color: black
               };
            }
          }
         
      }

      .post-header{
         color: rgb(68, 68, 68);
         padding-left: 0 !important;
         margin: 10px 0 10px 0;
         p{
            font-size: 13px;
            .post-autor{
               color: $cor-padrao ;
            } 
         }
      }
      .post-body{
         border-bottom: 1px solid gray;
      }
      .post-image{   
         height: 370px !important;
         margin-bottom: 10px;
      }
      .post-content{
         padding: 10px !important;
         color: rgb(104, 104, 104);
      }
   }
} 

// .aside{
//    width: 29%;
// }
.posts-relacionados{
   .blog-post{
      flex-direction: column !important;
      min-width: 210px !important;
      max-width: 250px;
      
      .post-header{
         padding: 0 !important;
      }
      h2{   
         text-align: center;
         font-size: 20px;
      }

      .post-image{
         background-color: black;
         min-width: 100% !important;
         max-height: 150px !important;
         img{
            width: 100% !important;
         }
      }

      .post-footer{
         flex-direction: row !important;
      }
   }
}