body {
  background-color: rgba(231, 231, 231, 0.479);
}

.post-view {
  background-color: white;
  margin-top: 50px;
  flex-direction: column !important;
  width: 75% !important;
  padding: 0 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.066);
}
.post-view .blog-post {
  width: 100% !important;
  box-shadow: none !important;
}
.post-view .blog-post .post-header {
  color: gray;
  padding-left: 0 !important;
  margin-bottom: 10px;
}
.post-view .blog-post .post-header p {
  font-size: 13px;
}
.post-view .blog-post .post-header p .post-autor {
  color: rgb(28, 89, 169);
}
.post-view .blog-post .post-body {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.138);
}
.post-view .blog-post .post-image {
  height: 370px !important;
}
.post-view .blog-post .post-content {
  padding: 10px !important;
  color: rgb(104, 104, 104);
}

.posts-relacionados .blog-post {
  flex-direction: column !important;
  min-width: 210px !important;
  max-width: 250px;
}
.posts-relacionados .blog-post .post-header {
  padding: 0 !important;
}
.posts-relacionados .blog-post h2 {
  text-align: center;
  font-size: 20px;
}
.posts-relacionados .blog-post .post-image {
  background-color: black;
  min-width: 100% !important;
  max-height: 150px !important;
}
.posts-relacionados .blog-post .post-image img {
  width: 100% !important;
}
.posts-relacionados .blog-post .post-footer {
  flex-direction: row !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 1, "opsz" 48;
}

.coments-box {
  width: 100%;
  padding: 10px;
  flex-direction: column;
}
.coments-box .new-coment-box {
  width: 100%;
}
.coments-box .new-coment-box .btn-new-coment-open {
  height: 30px;
  width: 100px;
  color: white;
  background: rgb(28, 89, 169);
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  transition: 0.4s;
}
.coments-box .new-coment-box .btn-new-coment-open:hover {
  background-color: #154482;
}
.coments-box .new-coment-box .principal-new-coment-form {
  width: 100%;
  min-height: 90px;
  border: 1px solid rgb(28, 89, 169);
  padding: 5px;
}
.coments-box .new-coment-box .principal-new-coment-form #new-coment {
  border: none;
  width: 100%;
  min-height: 70px;
  resize: none;
  outline: none;
}
.coments-box .new-coment-box .principal-new-coment-form #new-coment:focus-within {
  border: none !important;
}
.coments-box .new-coment-box .principal-new-coment-form .new-coment-buttons {
  margin-top: 5px;
  justify-content: end;
}
.coments-box .new-coment-box .principal-new-coment-form .new-coment-buttons .btn-new-coment-cancel {
  margin-right: 10px;
  border: none;
  background-color: white;
  color: rgb(99, 1, 1);
  text-decoration: underline;
  cursor: pointer;
}
.coments-box .new-coment-box .principal-new-coment-form .new-coment-buttons .btn-new-coment-submit {
  height: 30px;
  width: 70px;
  color: white;
  background: rgb(28, 89, 169);
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.coments-box .new-coment-box .principal-new-coment-form .new-coment-buttons .btn-new-coment-submit:hover {
  background-color: #154482;
}
.coments-box .coment-header {
  height: 50px;
  font-size: 13px;
}
.coments-box .coment-header img {
  max-width: 35px;
  margin-right: 5px;
}
.coments-box .coment-header div {
  flex-direction: column;
  align-items: start;
}
.coments-box .coment-header div .coment-autor {
  font-weight: 600;
}
.coments-box .coment-header div time {
  color: gray;
}
.coments-box .coment-body {
  margin-left: 40px;
  font-size: 15px;
  margin-bottom: 5px;
}
.coments-box .coment-footer {
  font-size: 12px;
  margin: 5px 0 0 40px;
  margin-bottom: 20px;
}
.coments-box .coment-footer .flex {
  margin-right: 15px;
}
.coments-box .coment-footer .like-icon, .coments-box .coment-footer .reply-icon {
  cursor: pointer;
  transition: 0.4s;
}
.coments-box .coment-footer .like-icon:hover, .coments-box .coment-footer .reply-icon:hover {
  color: rgb(28, 89, 169);
}
.coments-box .coment-footer .material-symbols-outlined {
  font-size: 18px;
}

.coment {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px dotted rgb(197, 196, 196);
}
.coment .new-answer-form {
  width: 90%;
  min-height: 90px;
  border: 1px solid rgb(28, 89, 169);
  padding: 5px;
  margin: 0 0 5px 40px;
}
.coment .new-answer-form .new-answer {
  border: none;
  width: 100%;
  min-height: 70px;
  resize: none;
  outline: none;
}
.coment .new-answer-form .new-answer:focus-within {
  border: none !important;
}
.coment .new-answer-form .new-answer-buttons {
  margin-top: 5px;
  justify-content: end;
}
.coment .new-answer-form .new-answer-buttons .btn-new-coment-cancel {
  margin-right: 10px;
  border: none;
  background-color: white;
  color: rgb(99, 1, 1);
  text-decoration: underline;
  cursor: pointer;
}
.coment .new-answer-form .new-answer-buttons .btn-new-coment-submit {
  height: 30px;
  width: 70px;
  color: white;
  background: rgb(28, 89, 169);
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.coment .new-answer-form .new-answer-buttons .btn-new-coment-submit:hover {
  background-color: #154482;
}

.coment-answers {
  margin-left: 40px;
  padding-left: 10px;
  border-left: 1px solid rgb(165, 165, 165);
}
.coment-answers .coment-header {
  margin-bottom: 10px;
}
.coment-answers .coment-header .replying-to-name {
  color: gray;
}
.coment-answers .coment-footer {
  width: calc(100% - 40px);
  flex-direction: column;
}
.coment-answers .coment-footer .buttons-answers {
  margin-bottom: 5px;
  width: 98%;
}
.coment-answers .coment-footer .reply-box {
  width: 100%;
}

.liked {
  font-variation-settings: "FILL" 1;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
